@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

button {
  margin: 5px;
  background-color: white;
  border: none;
}

button:hover {
  cursor: pointer;
  transition: 0.2s;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

input {
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 123, 255);
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar {
  width: 10px;
}
